.featuredScreen__discover {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.featuredScreen__featured {
  margin-top: 40px;
}

@media (max-width:768px){
  .featuredScreen__discover{
    flex-direction: column;

  }

  
  
}